@use "../utilities/index" as *;

/**----------------------------------------
START: CTA CSS
----------------------------------------*/
.tj-cta-section {
  margin-bottom: -195px;
  @media #{$xl} {
    margin-bottom: -150px;
  }
  @media #{$lg} {
    margin-bottom: -135px;
  }
  @media #{$md} {
    margin-bottom: -320px;
  }
  @media #{$sm, $xs} {
    margin-bottom: -270px;
  }
}

.cta-area {
  background-color: var(--tj-color-theme-primary);
  position: relative;
  z-index: 3;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;

  .cta-content {
    width: 50%;
    margin: 0;
    padding: 44px 15px 60px 55px;

    .title {
      font-size: 74px;
      line-height: 1.12;
      color: var(--tj-color-common-white);
      margin-bottom: 17px;

      @media #{$xl} {
        font-size: 62px;
      }
      @media #{$lg} {
        font-size: 56px;
      }
      @media #{$md} {
        font-size: 60px;
      }
      @media #{$sm} {
        font-size: 50px;
      }
      @media #{$xs} {
        font-size: 43px;
      }
    }

    @media #{$lg} {
      padding: 34px 15px 45px 35px;
    }
    @media #{$md, $sm, $xs} {
      width: 100%;
      padding: 34px 30px 45px 30px;
    }
  }

  .cta-img {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media #{$md, $sm, $xs} {
      width: 100%;
    }
  }

  .cta-content-mod {
    width: 74%;
    margin: 0;
    padding: 60px 60px 60px 60px;

    .title {
      font-size: 46px;
      line-height: 1.12;
      color: var(--tj-color-common-white);
      // margin-bottom: 17px;

      @media #{$xl} {
        font-size: 46px;
      }
      @media #{$lg} {
        font-size: 44px;
      }
      @media #{$md} {
        font-size: 46px;
      }
      @media #{$sm} {
        font-size: 42px;
      }
      @media #{$xs} {
        font-size: 40px;
      }
    }

    @media #{$lg} {
      padding: 34px 15px 45px 35px;
    }
    @media #{$md, $sm, $xs} {
      width: 100%;
      padding: 34px 30px 45px 30px;
    }
  }

  .cta-img-mod {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media #{$md, $sm, $xs} {
      width: 100%;
    }
  }
}

.cta-area:hover {
  background-color: white;

  .cta-content-mod {
    width: 74%;
    margin: 0;
    padding: 60px 60px 60px 60px;

    .title {
      color: black;
    }
  }
}

/* Hover on CTA */
.cta-area:hover .circle-text {
  // background-image: url("/images/icons/more-rounded-text-black.svg") !important;
  background-image: url("/images/logos/logo_badge.png") !important;
}

/* !END: CTA CSS */
