@use "../utilities" as *;

/**----------------------------------------
START: CUSTOM CSS
----------------------------------------*/

.tagline {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.44;
    font-weight: 500;
    font-style: italic;

    &.text-white {
        color: var(--tj-color-common-white);
    }

    &.text-black {
        color: var(--tj-color-common-black);
    }
}
.tj-page-header-tagline {
    max-width: 800px;
    margin-inline: auto;
}

.mt-8 {
    margin-top: 8px;
}
.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}


.mt-minus-350 {
    margin-top: -350px;
    position: relative;
    z-index: 3;
}